.communityContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.communityHeader{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.communityImage{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    align-content: center;
    gap:40px;
}



.lastPart{
    transform: translateY(-50%);
}

.lastPartTwo{
    transform: translateY(-50%);
}

.lastPartThree{
    transform: translateY(-50%);
}